<div class="sc-dialog sc-dialog-dropdown dropdown-menu">
	<h3 class="sc-text-white">Settings</h3>

	<hr/>

	<h5>General options</h5>

	<label>
		<input <%= config.receiveNotifications ? "checked" : "" %> type="checkbox" name="receiveNotifications" /> Receive notifications
	</label>
</div>