.contribution,
.fan-list,
.guard {
    height: 125px !important;
    margin-top: 20px;
}

.top-three {
	height: inherit !important;
}

.top-three li {
	top: 0 !important;
}

.top-three li.NO1 {
	float: left;
}

.top-three li .avatar {
    width: 36px !important;
    height: 36px !important;
    border-radius: 4px;
}

.top-three li .No1-icon,
.top-three li .No2-icon,
.top-three li .No3-icon {
	width: 36px !important;
    height: 36px !important;
    top: 25px !important;
}

.top-three li .No1-icon {
    left: 70px !important;
}

.others-lists-wrap {
    top: 125px;
    background: #1f1f1f;
}

.guard-avatar {
    width: 40px !important;
    height: 40px !important;
    background-size: contain !important;
}

.guard {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.others-lists-wrap {
    margin-top: -20px !important;
}